channel = '<The Main Channel where everything should go>'
server_executable = '<**ABSOLUTE PATH TO YOUR ZEROMOD EXECUTABLE**>'
server_cwd = '<**ZEROMOD WORKING DIRECTORY**>'

[irc]
host = 'irc.irc.net'
port = 6697
tls = true
nick = 'MyBot'
